* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 375px;
  margin: auto;
  text-align: center;
}

  p {
    margin: auto;
    text-align: center;
    width: 125px;
    padding: 5px;
    border: 1px solid black;
  }